{% extends 'base.html.twig' %}

{% set menuCurrentItem="home" %}

{% block header_title %}{{  parent() }} - Home{% endblock %}

{% block main_title %}HomePage{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    My Homepage
                </div>
                <div class="card-body">
                    This is a homepage test<br />
                    <button type="button" class="m-4 btn btn-danger confirm-modal-link"
                        data-action-message="Do you really want to log-out?"
                        data-action-label="Log-out"
                        data-action-icon="sign-out-alt"
                        data-action-level="danger"
                        data-action-url="{{ path('spipu_user_security_logout') }}"
                    >
                        <i class="fa fa-sign-out-alt"></i>
                        Logout
                    </button><br />
                </div>
                <div class="card-footer">
                    Super Footer
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
